.center{
  text-align: center;
}

.search-input{
  /* width: 100%; */
  padding: 6px;
  border: solid 1px #ccc;
  border-radius: 4px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
#loading{
  text-align: center;
}
.hide{
  display: none;
}
.noticia-item{
  margin: 16px;

}

.info-text{
  font-size: 14px;
  color: #666;
}
.resultados{
  font-size: 10px;
  text-align: center;
  margin: 10px;
}
.noticia-item > li{
  list-style-type: none;
  margin: 8px;
}

.noticia-title{
  font-size: 20px;
  font-weight: bold;
}

.noticia-texto{
  font-size: 16px;
}

.noticia-data{
  font-size: 14px;
  color: #999;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
